<a href="https://colab.research.google.com/github/priyanka2611/MachineLearning/blob/master/ML_supervised_and_unsupervised.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#  ML- supervised and unsupervised

#  supervised : y = f(x)
# classification : 
#   predicting class of new variable: its categorial eg (yes/no ) types or cacer (yes /no)
# regression:
#   estimate relation between entities . eg y=f(x) here y is dependent(numerical) and f(x) is independemt


#  unsupervised:clustering
#  data taht donot have class lables .
#  eg : if ther are gp of carr n cycle . then no lable is thr to show what is what
#  using clustering algo, it makes cluster of stuffs tat look similar. intra cluster similarities are less whereas intercluster similarity is max


#  Linear Regression :
import pandas as pd
Boston = pd.read_csv('Boston.csv')
Boston.head()

   Unnamed: 0     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0           1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1           2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2           3  0.02729   0.0   7.07     0  ...  242     17.8  392.83   4.03  34.7
3           4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
4           5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2

[5 rows x 15 columns]

In [0]:
import pandas as pd
Boston = pd.read_csv('Boston.csv')
Boston.head()
y=Boston[['medv']] #fixed
x= Boston[['indus']] # change with various column which gives min difference
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test= train_test_split(y,x,test_size =0.3) # 30% are test data rest are training data

In [21]:
lr = LinearRegression()
lr.fit(x_train, y_train)
y_pred=lr.predict(x_test)
y_test.head()

     indus
128  21.89
443  18.10
6     7.87
54    4.00
304   2.18

In [22]:
y_pred[0:5]

array([[13.02906726],
       [14.00240195],
       [11.19470572],
       [12.69214371],
       [ 6.25316035]])

In [23]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test, y_pred) 

# try it will diffrenet parameteres and whichever has lest difference is best model

39.1364865756536

In [37]:
#logistic regression for classification gives probability

#eg : one who smokes the  probability chances of him getting cancer 
#problem : customer leaves service or not : churn : yes(he will leave)

#relation btweeen churn n tenure
import pandas as pd
customer_churn=pd.read_csv('customer_churn.csv') #churn leaves the service
customer_churn.head()

  state  account length  ...  customer service calls  churn
0    KS             128  ...                       1  False
1    OH             107  ...                       1  False
2    NJ             137  ...                       0  False
3    OH              84  ...                       2  False
4    OK              75  ...                       3  False

[5 rows x 21 columns]

In [0]:
y = customer_churn[['churn']]
x= customer_churn[['total eve calls']]
from sklearn.linear_model import LogisticRegression
log_model = LogisticRegression()
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, test_size =0.3)

In [43]:
log_model.fit(x_train, y_train)
y_pred=log_model.predict(x_test)
y_test.head()

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

      churn
663   False
1567  False
2155   True
2967  False
605    True

In [44]:
y_pred[0:5]

array([False, False, False, False, False])

In [46]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_test, y_pred)     # actual and predicted yes : 855 actual yes predicted no : 0 actual no predicted yes : 145 actual and predicted no :0

array([[855,   0],
       [145,   0]])

In [47]:
(855+0)/(855+0+145+0) # 85% accuracy

0.855

In [0]:
#decision tree