<a href="https://colab.research.google.com/github/priyanka2611/MachineLearning/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#pandas : data manupulation/ analysis 
import pandas as pd
#single dimensional : series objects with index values 
q1=pd.Series([1,2,3,5,6])
print(q1)
type(q1)
print(pd.Series([1,2,4,5,7], index=['a',5,'f',7,'q']))
print(pd.Series({'a':10, 'b':30, 'f':56}))
print(pd.Series({'a':10, 'b':30, 'f':56}, index=['a','b','e','f']))
#extract single element
print(q1[3])
#extract sequence of element
print(q1[:4])
#extract elements frm back
print(q1[-3:])
#add constant to series
print(q1+100)
#add series
q2= pd.Series([3,6,5,4,2])
print(q1+q2)

0    1
1    2
2    3
3    5
4    6
dtype: int64
a    1
5    2
f    4
7    5
q    7
dtype: int64
a    10
b    30
f    56
dtype: int64
a    10.0
b    30.0
e     NaN
f    56.0
dtype: float64
5
0    1
1    2
2    3
3    5
dtype: int64
2    3
3    5
4    6
dtype: int64
0    101
1    102
2    103
3    105
4    106
dtype: int64
0    4
1    8
2    8
3    9
4    8
dtype: int64

In [16]:
#data frames: 2d structures

print("head : first n rows , tail() : last n rows, shape():desciption of row, describe(): genral info about data set")

import pandas as pd

print(pd.DataFrame({"Name":['a', 'b', 'c'], "Marks":[22,33,44]}))

iris= pd.read_csv("iris.csv")
print(iris.head())
print(iris.tail())
print(iris.shape)
print(iris.describe())

#iloc and loc methods
print('show specific data from table using index')
print(iris.iloc[0:3, 0:2]) #column index given [R, C] give exclude 3
print('show specific data from table using name')
print(iris.loc[0:3,("sepal_length", "petal_length", "species")]) #column name given [R, C] its inclusive of 0 and 3

#drop columns
print('drop column')
print(iris.drop('species', axis =1)) #name of column , axis = 0(row) 1(column)
print('drop 3 rows')
print(iris.drop([1,2,3], axis =0)) #drop 3 rows

head : first n rows , tail() : last n rows, shape():desciption of row, describe(): genral info about data set
  Name  Marks
0    a     22
1    b     33
2    c     44
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica
(150, 5)
       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
show specific data from table using index
   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2
show specific data from table using name
   sepal_length  petal_length species
0           5.1           1.4  setosa
1           4.9           1.4  setosa
2           4.7           1.3  setosa
3           4.6           1.5  setosa
drop column
     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]
drop 3 rows
     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

In [18]:
print("mean")
print(iris.mean())
print("min")
print(iris.min())
print("median")
print(iris.median())
print("max")
print(iris.max())


#apply mehtod

mean
sepal_length    5.843333
sepal_width     3.054000
petal_length    3.758667
petal_width     1.198667
dtype: float64
min
sepal_length       4.3
sepal_width          2
petal_length         1
petal_width        0.1
species         setosa
dtype: object
median
sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64
max
sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object